<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_cadastro.css">
    <title>Só Mais Um Prato - Cadastrar Receita</title>
</head>
<body>
    <header class="cabecalho">
        <div class="nav-logout">
            <a href="/logout">Logout</a>
        </div>
        <div class="nav-buttons">
            <a href="/receita">Receitas</a>
        </div>
    </header>
    <main>
        <h1>Cadastrar Receitas</h1>
        <div class="container">
            <form action="/cadastar/receita" method="POST">
                <label for="nome">Nome da Receita: </label>
                <input type="text" id="nome" name="nome" required autocomplete="off">

                <label for="ingredientes">Ingredientes <span>📝</span> :</label>
                <textarea id="ingredientes" name="ingredientes" required></textarea>

                <label for="tempo">Tempo de Preparo (minutos)<span>🕒</span> :</label>
                <input type="number" id="tempo" name="tempo" required autocomplete="off">

                
                <label for="porcoes">Porções <span>🍽️</span> :</label>
                <input type="number" id="porcoes" name="porcoes" required>

                <label for="ppreparo">Modo de Preparo:</label>
                <textarea id="preparo" name="preparo" required></textarea>
               

                <label for="foto">Link da Foto da Receita:</label>
                <input type="text" id="foto" name="foto" placeholder="https://...">

                <button type="submit">Cadastrar Receita</button>
                
            </form>

        </div>
    </main>
    <footer style="text-align: center; font-size: 14px; color: #777; margin-top: 20px;">
      <p>&copy; 2025 Sistema de Receitas com Flask. Todos os direitos reservados.</p>
      <p>Desenvolvido por Paulo Ricardo com Python, Flask e MySQL.</p>
    </footer>
    
</body>
</html>