<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Só Mais Um Prato</title>
    <link rel="stylesheet" href="/static/style_index.css">
</head>
<body>
    <header class="cabecalho">
        <div class="nav-login">
            <a href="/login">Login</a>
        </div>

        <div class="nav-buttons">
            <a href="/receita">Receitas</a>
        </div>

    </header>
    <main>
        <h2>Bem-vindo ao Só Mais Um Prato </h2>
        <p>
            O <strong>Só Mais Um Prato </strong> é um sistema web de receitas, utilizando Python com Flask e MySQL
            
        </p>
        <p>
            Com este sistema web, o usuário pode verificar algumas receitas cadastradas na plataforma.
        </p>
        
        <p>
            Este projeto foi desenvolvido como parte de um dentro do Python com o Flask.
       
    </main>
    <footer style="text-align: center; font-size: 14px; color: #777; margin-top: 20px;">
        <p>&copy; 2025 Sistema de Receitas com Flask. Todos os direitos reservados.</p>
        <p>Desenvolvido por Paulo Ricardo com Python, Flask e MySQL.</p>
    </footer>

</body>
</html>