<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Só Mais Um Prato - Receitas</title>
    <link rel="stylesheet" href="/static/style_receitas.css">
</head>
<body>
    <header>
        <div class="nav-login">
            <a href="/login">Login</a>
        </div>
        <div class="nav-buttons">
            <a href="/">Home</a>
        </div>
    </header>

    <main>
        <h1>Receitas</h1>
        <div class="container">
            {% for receita in receitas %}
            <a href="/receita/{{ receita.ID }}" class="receita-card">
                <img src="{{receita.IMAGEM}}" alt="{{receita.NOME_RECEITA}}">
                <div class="receita-info">
                    <p class="categoria">RECEITAS</p>
                    <h3>{{receita.NOME_RECEITA}}</h3>
                    <p class="tempo"><span>🕒</span> {{receita.TEMPO_PREPARO}} min</p>
                </div>
            </a>
            {% endfor %}
        </div>

        
    </main>


    <footer style="text-align: center; font-size: 14px; color: #777; margin-top: 20px;">
        <p>&copy; 2025 Sistema de Receitas com Flask. Todos os direitos reservados.</p>
        <p>Desenvolvido por Paulo Ricardo com Python, Flask e MySQL.</p>
    </footer>
    
</body>
</html>