<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Só Mais Um Prato - Sessão Admin</title>
    <link rel="stylesheet" href="/static/style_sessao_admin.css">
    <header class="cabecalho">
        <div class="nav-login">
            <a href="/logout">Logout</a>
        </div>

        <div class="nav-buttons">
            <a href="/cadastrar">Cadastrar Receitas</a>
        </div>
    </header>
    <main>
        <h1>Bem-vindo, {{nome}}!</h1>
        <p>Você está no Painel do Administrador.</p>
    </main>

    <footer style="text-align: center; font-size: 14px; color: #777; margin-top: 20px;">
        <p>&copy; 2025 Sistema de Receitas com Flask. Todos os direitos reservados.</p>
        <p>Desenvolvido por Paulo Ricardo com Python, Flask e MySQL.</p>
    </footer>
</head>
<body>
    
</body>
</html>